
		/*@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500&display=swap');*/
		:root{
			--bg-blue: #7AB7BB;
			--bg-green: #ACD25B;
			--bg-white: #fff;
			--bg-orange: #FF835B;
		}
		
		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			
			
		}
		body{
			background: var(--bg-blue);
			font-family: "Laila", serif;
  			font-weight: 300;
 			font-style: normal;
		}
		.laila-light {
  			font-family: "Laila", serif;
  			font-weight: 300;
  			font-style: normal;
		}

		.laila-regular {
  			font-family: "Laila", serif;
 			font-weight: 400;
  			font-style: normal;
		}


		.raleway{
		  font-family: "Raleway", sans-serif;
		  font-optical-sizing: auto;
		  font-weight: 500;
		  font-style: normal;
		}
		h1{
			text-align: center;
			font-size: 3.5rem;
			color: #634624;
			font-family: 'Laila', sans-serif;
			font-weight: 500;

		}
		h2{
			display: block;
			text-align: center;
			font-weight: 300;
			font-size: 24px;
			padding: 5px;
			margin-top: 20px;
			margin-bottom:10px;
			font-style: bold;
		}		
		header{
			width: 100%;
			height: 120px;
			background: var(--bg-green);

			display: flex;
			justify-content: center;
			align-items: center;
		}
		hr{
			color: var(--bg-blue);
			font-weight: bolder;
		}
		.navbar{
			width: 80%;
		}

		.container{
			width: 90%;
			margin: 0 auto;	
		}
		.wrapper{
			width: 100%;
			height: 70vh;
			margin: 10px;

			display: flex;
			justify-content: space-around;
			align-items: center;
		}
		.pizarra{
			width: 40%;
			height: 60vh;
			background: var(--bg-green);
			border-radius: 41px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
		.pizarra__bco{
			background: var(--bg-white);
			width: 90%;
			height: 400px;
			margin-top: 40px;
			border-radius: 40px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.num{
			margin-left: 30px;
			font-family: 'Laila', sans-serif;
			font-size: 1.2rem;
		}
		.cal__tabla{

			width: 25%;
			height: 60vh;
			background: var(--bg-white);
			border-radius: 41px;
		}
		.pizarra__display{


			width: 50%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: right;

		}
		.num{
			width: 100%;
			display: flex;
			justify-content: right;
		}
		#num__1,#num__2,.signal{
			display: block;
			width: 30%;
			text-align: right;
			letter-spacing: 4px;
			font-family: Laila, sans-serif;
			font-size: 1.5rem;

		}
		.signal{
			font-weight: bolder;
		}
		.division{
			width: 100%;
			height: 1px;
			border:1px solid var(--bg-blue);
		}
		.input-group{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: right;
		}
		.input{
			width: 52%;
			height: 30px;
			padding: 5px;
			margin-top: 5px;
			margin-bottom: 4px;
			text-align: right;
			font-family: 'Laila', sans-serif;
			font-size: 1.2rem;
			border-radius: 41px;
			border-color: var(--bg-green);
		}
		.multi{
			width: 100%;
			display: flex;
			justify-content: right;
			font-size: 1.2rem;
			font-family: Laila, sans-serif;
			font-weight: bold;
		}
		#res__2{
			margin-right: 2px;
		}
		#result{
			width: 60%;
		}

		.btn_group{
			width: 80%;
		}
		.btn{
			background:var(--bg-orange);
			color: white;
			font-weight: 300;
			font-size: 1.2rem;
			width: 100%;
			padding: 15px 0px;
			border-radius: 41px;
			cursor: pointer;
		}
		.pizarra__btn{
			margin-top: 8px;
		}
		.wrapper_cal{
			
			width: 80%;
			margin: 0 auto;

			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
		.input__cal{
			width: 20%;
			padding:25px;
			font-size: 1.1rem;
		}
		.btn__cal{
			width: 60%;
		}
		.tabla{
			width: 70%;
			margin-left: 10px;
			padding: 5px;
			font-family: 'Laila', sans-serif;
			font-size: 1.5rem;
		}
		.line_text{
			display: none;
			border: 3px solid #CAC69D;
			background: #F5EB96;
			color: #333012;
			padding: 8px;
			font-size: 1.1rem;
		}
		.line_text2{
			display: none;
			border: 3px solid #F532C2;
			background: #F2D4F0;
			color: #CA4AA8;
			padding: 8px;
			font-size: 1.1rem;
		}